body {
	background-color: #d1eff6;
}
.header {
	background-color: #99a0b3;
	width: 100%;
	height: 50px;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 10px;
	color: white;
	font-weight: bolder;

}
.separator {
	background-color: #d1eff6;
	width: 100%;
	height: 20px;
}
.calccontainer {
	background-color: #2a4b78;
	width: 50%;
	height: 600px;
	margin-left: 25%;
}
.calculator {
	background-color: #90a6ba;
	width: 50%;
	height: 90%; 
	margin-left: 25%;
}
.display {
	width: 80%;
	height: 60px;
	background-color: white;
	margin-left: 10%;
	text-align: center;
	border: 5px solid silver;
}
.buttons {
	background-color: black;
	width: 80%;
	height: 75%;
	margin-left: 10%;
	border: 5px solid white;
}
button {
	width: 20%;
	height: 13%;
	text-align: center;
	border: 5px solid aqua;
	background-color: teal;
	color: white;
	font-weight: bolder;
}