<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="cal.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

  <title>Calculator</title>
 
</head>
<body>
    <div ng-app="calculator">
        <div class="header">
            <h3>Raymart Calculator</h3>            
        </div>
        <div class="separator"></div>
        <div class="calccontainer" ng-controller="calcontrol"><br/><br/>
            <div class="calculator"><br/>
                <div class="display"><br/>{{numbers}}</div>
                <br/>
                <div class="buttons">
                    <br/>
                    <th>
                       &nbsp;  &nbsp;&nbsp; <button title="Number 7" ng-click="press('7')">7</button>
                        <button title="Number 8" ng-click="press('8')">8</button>
                        <button title="Number 9" ng-click="press('9')">9</button>
                        <button title="Perform +" ng-click='perform("+")'  style="background-color: #ff6347">+</button>
                    </th>
                    <th><br/><br/>
                        &nbsp;  &nbsp;&nbsp; <button title="Number 6" ng-click="press('6')">6</button>
                        <button title="Number 5" ng-click="press('5')">5</button>
                        <button title="Number 4" ng-click="press('4')">4</button>
                        <button title="Perform -" ng-click='perform("-")'  style="background-color: #ff6347">-</button>
                    </th>
                    <th><br/><br/>
                        &nbsp;  &nbsp;&nbsp; <button title="Number 3" ng-click="press('3')">3</button>
                        <button title="Number 2" ng-click="press('2')">2</button>
                        <button title="Number 1" ng-click="press('1')">1</button>
                        <button title="Perform *" ng-click='perform("*")' style="background-color: #ff6347">*</button>
                    </th>
                     <th><br/><br/>
                        &nbsp;  &nbsp;&nbsp; <button title="Number 0" ng-click="press('0')">0</button>
                        <button title="." ng-click="press('.')">.</button>
                        <button ng-click="press('clear')" style="background-color: #ff6347">C</button>
                        <button ng-click='perform("/")' style="background-color: #ff6347">/</button>
                        
                    </th>
                    <th><br/> <br/>
                        &nbsp;  &nbsp;&nbsp; <button ng-click="equal()" style="background-color: #ff6347; width: 84%" >=</button>
                    </th>
                </div>
            </div>
        </div>
        
    </div>
      <script type="text/javascript" src="script.js">
</body>

</html>